<section class="mx-auto max-w-screen-xl bg-gray-100 dark:bg-gray-800 my-10 flex sm:flex-row items-center flex-col rounded-lg">
    <div class="sm:w-1/2 w-2/3 sm:py-16 py-4 sm:pl-16 ">
        <h3 class="text-2xl font-bold mb-2 dark:text-gray-50">Our Newsletter</h3>
        <p class="dark:text-gray-100">Subscribe our newsletter and get discount 50% off</p>
    </div>
    <div class="sm:w-1/2 w-2/3 sm:py-16 py-4 sm:pr-16 flex items-center">
        <form class="w-full">
            <div class="relative">
                <label for="default-search"></label>
                <input type="email" id="default-search" class="block bg-white w-full p-4  text-sm text-gray-900 border border-gray-300 rounded-lg focus:ring-gray-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your email address" required>
                <button type="submit" class="text-gray-900 absolute bg-gray-50 right-2.5 bottom-2.5 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-700 dark:text-gray-50 dark:hover:bg-gray-600 dark:focus:ring-gray-800">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="ml-[5px]" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144m124-144H100">
                        </path>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</section>